{{ define "main" }}

<header class="breadCrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-12 offset-lg-1 offset-md-0 text-center">
        <h3 class="breadCrumb__title">{{ .Title }}</h3>
        <nav aria-label="breadcrumb" class="d-flex justify-content-center">
        </nav>
      </div>
    </div>
  </div>
</header>

<section class="section singleBlog">
  <div class="svg-img">
      <img src={{ "images/hero/figure-svg.svg" | absURL }} alt="">
  </div>
  <div class="animate-shape">
      <!-- <img src="images/skill/skill-background-shape.svg" alt="background-shape"> -->
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 600 600">
          <defs>
              <linearGradient id="d" x1="0.929" y1="0.111" x2="0.263" y2="0.935" gradientUnits="objectBoundingBox">
                  <stop offset="0" stop-color="#f1f6f9" />
                  <stop offset="1" stop-color="#f1f6f9" stop-opacity="0" />
              </linearGradient>
          </defs>
          <g data-name="blob-shape (3)">
              <path class="blob" fill="url(#d)"
                  d="M455.4 151.1c43.1 36.7 73.4 92.8 60.8 136.3-12.7 43.5-68.1 74.4-111.3 119.4-43.1 45-74 104.1-109.8 109-35.9 5-76.7-44.2-111.8-89.2-35.2-45-64.7-85.8-70.8-132.6-6-46.8 11.6-99.6 46.7-136.3 35.2-36.6 88-57.2 142.4-58.8 54.5-1.7 110.6 15.6 153.8 52.2z" />
          </g>
      </svg>
  </div>
  <div class="animate-pattern">
      <img src={{ "images/service/background-pattern.svg" | absURL }} alt="background-shape">
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="singleBlog__feature">
              	

<p>Jika Anda memerlukan informasi lebih lanjut atau memiliki pertanyaan tentang kebijakan privasi kami, jangan ragu untuk menghubungi kami melalui halaman <a href="https://kukode.in/contact">Contact</a>.</p>

<p>Di <a href="https://kukode.in">Kukode.in</a>, kami menganggap privasi pengunjung sangat penting. Dokumen kebijakan privasi ini menjelaskan secara terperinci jenis informasi pribadi yang dikumpulkan dan dicatat oleh Kukode.in dan bagaimana kami menggunakannya.</p>

<h3>Log Files</h3>

<p>Seperti banyak situs Web lainnya, Kukode.in menggunakan file log. File-file ini hanya mencatat pengunjung ke situs - biasanya prosedur standar untuk perusahaan hosting dan bagian dari analisis layanan hosting. Informasi di dalam file log termasuk alamat protokol internet (IP), jenis browser, Penyedia Layanan Internet (ISP), cap tanggal / waktu, halaman rujukan / keluar, dan mungkin jumlah klik.</p> 

<p>Informasi ini digunakan untuk menganalisis tren, mengelola situs, melacak pergerakan pengguna di sekitar situs, dan mengumpulkan informasi demografis. Alamat IP, dan informasi lain semacam itu tidak ditautkan ke informasi apa pun yang dapat diidentifikasi secara pribadi.</p>

<h3>Cookies and Web Beacons</h3>

<p>Kukode.in (<a href="https://kukode.in">Jasa Pembuatan Website</a>) menggunakan cookie untuk menyimpan informasi tentang preferensi pengunjung, untuk merekam informasi spesifik pengguna pada halaman mana yang diakses atau dikunjungi oleh pengunjung situs, dan untuk mempersonalisasikan atau menyesuaikan konten halaman web kami berdasarkan pada jenis browser pengunjung atau informasi lain yang pengunjung mengirim melalui browser mereka.</p>

<h3>DoubleClick DART Cookie</h3>

<ul style="list-style-type:disclosure-closed">
	<li>Google, sebagai vendor pihak ketiga, menggunakan cookie untuk menayangkan iklan di Kukode.in.</li>
	<li>Penggunaan cookie DART oleh Google memungkinkannya untuk menayangkan iklan kepada pengunjung situs kami berdasarkan kunjungan mereka ke Kukode.in dan situs lain di Internet.
	</li>
	<li>Pengguna dapat keluar dari penggunaan cookie DART dengan mengunjungi iklan Google dan kebijakan privasi jaringan konten di URL berikut → <a href="https://policies.google.com/technologies/ads" target="_blank">Advertising – Privacy & Terms – Google</a>.
	</li>
</ul>

<h3>Our Advertising Partners</h3>

<p>Beberapa mitra periklanan kami mungkin menggunakan cookie dan suar web di situs kami. Mitra iklan kami meliputi:</p>

<ul>
	<li>Google</li>
	<li>Other</li>
</ul>

<p><i>Sementara masing-masing mitra periklanan ini memiliki Kebijakan Privasi mereka sendiri untuk situs mereka, sumber daya yang diperbarui dan hyperlink dipertahankan di sini: <a href="https://www.privacypolicyonline.com/" target="_blank" rel="nofollow">Privacy Policies</a>.</i></p>

<p><i>Anda dapat berkonsultasi daftar ini untuk menemukan kebijakan privasi untuk masing-masing mitra periklanan dari Kukode.in.</i></p>

<p>Server iklan pihak ketiga atau jaringan iklan ini menggunakan teknologi di masing-masing iklan dan tautannya yang muncul di Kukode.in dan yang dikirim langsung ke browser Anda. Mereka secara otomatis menerima alamat IP Anda ketika ini terjadi. </p>

<p>Teknologi lain (seperti cookie, JavaScript, atau Web Beacon) juga dapat digunakan oleh jaringan iklan pihak ketiga situs kami untuk mengukur efektivitas kampanye iklan mereka dan / atau untuk mempersonalisasi konten iklan yang Anda lihat di situs.</p>

<p>Kukode.in tidak memiliki akses atau kontrol terhadap cookie ini yang digunakan oleh pengiklan pihak ketiga.</p>

<h3>Third Party Privacy Policies</h3>

<p>Anda harus berkonsultasi dengan kebijakan privasi masing-masing dari server iklan pihak ketiga ini untuk informasi lebih rinci tentang praktik mereka serta untuk petunjuk tentang cara menyisih dari praktik tertentu. </p>

<p>Kebijakan privasi Kukode.in tidak berlaku untuk, dan kami tidak dapat mengontrol aktivitas dari, pengiklan atau situs web lainnya. Anda dapat menemukan daftar komprehensif kebijakan privasi ini dan tautannya di sini: <a href="https://www.privacypolicyonline.com/privacy-policy-links/" target="_blank" rel="nofollow">Privacy Policy Links</a>.</p>

<p>Jika Anda ingin menonaktifkan cookie, Anda dapat melakukannya melalui opsi peramban individual. Informasi lebih rinci tentang manajemen cookie dengan browser web tertentu dapat ditemukan di situs web masing-masing browser. <a href="https://www.privacypolicyonline.com/what-are-cookies/" target="_blank" rel="nofollow">What Are Cookies?</a></p>

<h3>Children's Information</h3>

<p>Kami percaya penting untuk memberikan perlindungan tambahan untuk anak-anak online. Kami mendorong orang tua dan wali untuk menghabiskan waktu online dengan anak-anak mereka untuk mengamati, berpartisipasi dalam dan / atau memantau dan membimbing aktivitas online mereka. </p>

<p>Kukode.in tidak secara sengaja mengumpulkan informasi yang dapat diidentifikasi secara pribadi dari anak-anak di bawah usia 13 tahun. Jika orang tua atau wali percaya bahwa Kukode.in memiliki dalam basis datanya informasi yang dapat diidentifikasi secara pribadi dari seorang anak di bawah usia 13 tahun. </p>

<p>Silakan hubungi kami segera (menggunakan kontak di paragraf pertama) dan kami akan melakukan upaya terbaik kami untuk segera menghapus informasi tersebut dari catatan kami.</p>

<h3>Online Privacy Policy Only</h3>

<p>Kebijakan privasi ini hanya berlaku untuk aktivitas online kami dan berlaku untuk pengunjung situs web kami dan mengenai informasi yang dibagikan dan / atau dikumpulkan di sana. Kebijakan ini tidak berlaku untuk informasi apa pun yang dikumpulkan secara offline atau melalui saluran selain dari situs web ini.</p>

<h3>Consent</h3>

<p>Dengan menggunakan situs web kami, Anda dengan ini menyetujui kebijakan privasi kami dan menyetujui persyaratannya.</p>


              </div>
          </div>
      </div>
      <div class="row mt-5 d-none">
          <div class="col-lg-12">
              <style type="text/css">
                .singleBlog__content h1{font-size:40px;}.singleBlog__content h2{font-size:30px;}.singleBlog__content h3{font-size:23px;}
                .singleBlog__content h4{font-size:16px;}.singleBlog__content h5{font-size:14px;}.singleBlog__content h6{font-size:12px;}
                .singleBlog__content{font-size:16px;text-align:justify;}
                .singleBlog__content img{border-radius:6px;box-shadow:0 .125rem .25rem rgba(0,0,0,0.15)!important;width:100%;margin:10px 0;}
              </style>
              <div class="singleBlog__content">
                  {{ .Content }}
                  <div class="comment mt-3">
                    <hr class="mt-5"><hr class="mb-5">
                    {{ template "_internal/disqus.html" . }}
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


{{ end }}
