{{ define "main" }}

<header class="breadCrumb">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-12 offset-lg-1 offset-md-0 text-center">
        <h3 class="breadCrumb__title">{{ .Title }}</h3>
        <nav aria-label="breadcrumb" class="d-flex justify-content-center">
        </nav>
      </div>
    </div>
  </div>
</header>

<section class="section singleBlog">
  <div class="svg-img">
      <img src={{ "images/hero/figure-svg.svg" | absURL }} alt="">
  </div>
  <div class="animate-shape">
      <!-- <img src="images/skill/skill-background-shape.svg" alt="background-shape"> -->
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 600 600">
          <defs>
              <linearGradient id="d" x1="0.929" y1="0.111" x2="0.263" y2="0.935" gradientUnits="objectBoundingBox">
                  <stop offset="0" stop-color="#f1f6f9" />
                  <stop offset="1" stop-color="#f1f6f9" stop-opacity="0" />
              </linearGradient>
          </defs>
          <g data-name="blob-shape (3)">
              <path class="blob" fill="url(#d)"
                  d="M455.4 151.1c43.1 36.7 73.4 92.8 60.8 136.3-12.7 43.5-68.1 74.4-111.3 119.4-43.1 45-74 104.1-109.8 109-35.9 5-76.7-44.2-111.8-89.2-35.2-45-64.7-85.8-70.8-132.6-6-46.8 11.6-99.6 46.7-136.3 35.2-36.6 88-57.2 142.4-58.8 54.5-1.7 110.6 15.6 153.8 52.2z" />
          </g>
      </svg>
  </div>
  <div class="animate-pattern">
      <img src={{ "images/service/background-pattern.svg" | absURL }} alt="background-shape">
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="singleBlog__feature">
              	

<p><a href="https://kukode.in">Kukode.in</a> adalah sebuah situs yang bertemakan tentang pengembangan teknologi. Dalam situs ini, kami juga memberikan informasi tentang berita teknologi maupun tutorial tentang hal-hal yang berkaitan dengan website.</p>

<h3>Kebijakan Konten :</h3>

<p>Konten yang kami di website Kukode.in adalah informasi yang dikumpulkan oleh tim Kukode.in baik dari pengalaman pribadi, pengalaman orang lain maupun mengambil materi-materi yang dikumpulkan dari berbagai sumber baik itu buku, maupun dikumpulkan dari Internet berdasarkan pada proses browsing, wawancara maupun cara-cara yang lain.</p>

<p>Semua artikel di Kukode.in kami publish untuk umum dan dapat dibaca oleh siapapun dan dimana saja selama bisa mengakses Kukode.in, Namun kami tidak bertanggung jawab atas kerugian materiil ataupun inmateriil yang disebabkan oleh artikel yang ada di Kukode.in</p>

<p>Kami menyajikan informasi-informasi di setiap topik artikel seakurat mungkin sesuai kenyataan yang ada di lapangan. Namun kami tidak bertanggung jawab dan tidak memberikan jaminan dan garansi bahwa seluruh informasi yang ditampilkan dalam website ini adalah sempurna, benar, lengkap, dan/atau terbarukan. Namun kami akan berusaha untuk memperbarui situs ini secara berkala jika memang ada hal yang harus diperbarui.</p>

<p>Beberapa tautan dalam situs ini dapat mengarahkan ke situs-situs lain, termasuk yang dioperasikan dan dikelola oleh pihak ketiga. Kukode.in bisa memasukkan tautan-tautan ini jika memang diperlukan, dan adanya tautan tersebut tidak berarti kami bertanggungjawab atau menganjurkan atas situs yang terhubung, baik operator, maupun isinya (pengecualian mungkin berlaku).</p>

<p>Segala informasi yang ada di Kukode.in tidak dapat digugat jika terdapat kesamaan isi atau konten . Namun tim Kukode.in juga berhak dan bersedia untuk mengubah artikel yang sekiranya memang melanggar aturan yang berlaku .</p>

<p>Setiap konten yang telah dipublikasikan di Kukode.in (<a href="https://kukode.in">Jasa Pembuatan Website</a>) tidak diperkenankan dipublikasikan di tempat lainnya tanpa adanya izin resmi dari pengelola Kukode.in Publikasi di tempat lainnya termasuk penerbitan melalui media cetak dan atau media elektronik termasuk di dalamnya melalui internet.</p>

<p>Publikasi melalui internet (termasuk copy paste konten) masih diperkenankan selama tidak digunakan untuk kepentingan komersial, tidak mengubah isi dari konten tersebut (termasuk di dalamnya link ke sumber luar) dan tetap mencantumkan link ke sumber aslinya yaitu Kukode.in.</p>

<h3>Kebijakan Gambar</h3>

<p>Gambar-gambar yang ada di Kukode.in ada yang berasal dari tim kami. Anda tidak dapat menggunakan gambar tersebut tanpa seijin dari tim Kukode.in. Jika kami mengambil gambar dari milik orang lain yang telah dipublikasikan di Internet maka kami akan tetap mencantumkan sumber gambar tersebut.</p>

<h3>Kebijakan Komentar</h3>

<p>Semua komentar yang ada di web Kukode.in adalah tanggung jawab dari komentator. Kami dari tim Kukode.in berhak menghapus isi komentar yang mengandung SARA ,Promosi dan negatif. Kukode.in berhak untuk mengubah ,menghapus dan tidak menampilkan komentar yang masuk.</p>

<p>Jika ada pelanggaran atau apapun yang tidak sesuai dengan undang-undang sudi kiranya untuk melaporkan kepada kami melalui form kontak atau langsung kirim email ke alamat : kukodein@gmail.com</p>

<p>Untuk pertanyaan dan saran dapat anda kirimkan ke kami melalui alamat email atau menggunakan menu kontak. Demikian disclaimer kami buat, jika terdapat hal-hal yang belum disebutkan di halaman disclaimer ini akan kami informasikan dan kami lengkapi sesegera mungkin.</p>


              </div>
          </div>
      </div>
      <div class="row mt-5 d-none">
          <div class="col-lg-12">
              <style type="text/css">
                .singleBlog__content h1{font-size:40px;}.singleBlog__content h2{font-size:30px;}.singleBlog__content h3{font-size:23px;}
                .singleBlog__content h4{font-size:16px;}.singleBlog__content h5{font-size:14px;}.singleBlog__content h6{font-size:12px;}
                .singleBlog__content{font-size:16px;text-align:justify;}
                .singleBlog__content img{border-radius:6px;box-shadow:0 .125rem .25rem rgba(0,0,0,0.15)!important;width:100%;margin:10px 0;}
              </style>
              <div class="singleBlog__content">
                  {{ .Content }}
                  <div class="comment mt-3">
                    <hr class="mt-5"><hr class="mb-5">
                    {{ template "_internal/disqus.html" . }}
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


{{ end }}