<!DOCTYPE html>
<html lang="id">
<head>
	<meta charset="utf-8" />

	{{ "<!-- mobile responsive meta -->" | safeHTML }}
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="author" content="Ahmad Muzakki">
	<meta name="copyright"content="Kukode.in">
	<meta name="language" content="id">

	{{ "<!-- Primary Meta Tags -->" | safeHTML }}
	<title>{{ .Title }}</title>

	<meta name="title" content="{{ .Title }}">
	<meta name="description" content="Kukode.in adalah software house yang menerima jasa pembuatan website & maintenance SEO Jogja. Kami membuat web sederhana hingga kompleks serta menerima perawatan web.">
	<meta name="keywords" content="Jasa Pembuatan Website, Maintenance, Jasa Bikin Webisite, Jasa Buat Website, Buat Website, Jasa Maintenance Website, Jasa Perawatan Website, Jasa Develope Website, Jasa SEO Website, Jasa SEO, Jasa SEO Jogja">

	{{ "<!-- Open Graph / Facebook Meta Tags -->" | safeHTML }}
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ .Site.BaseURL }}">
	<meta property="og:title" content="Kukode.in - Jasa Bikin Website & Maintenance Web Profesional">
	<meta property="og:description" content="Kukode.in adalah software house yang menerima jasa bikin website & maintenance website. Kami membuat web sederhana hingga kompleks serta menerima perawatan web.">
	<meta property="og:image" content="{{ .Site.BaseURL }}images/favicon.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="1024">
	<meta property="og:image:height" content="1024">

	{{ "<!-- Twitter Meta Tags -->" | safeHTML }}
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="{{ .Site.BaseURL }}">
	<meta property="twitter:title" content="Kukode.in - Jasa Bikin Website & Maintenance Web Profesional">
	<meta property="twitter:description" content="Kukode.in adalah software house yang menerima jasa bikin website & maintenance website. Kami membuat web sederhana hingga kompleks serta menerima perawatan web.">
	<meta property="twitter:image" content="{{ .Site.BaseURL }}images/favicon.png">

	{{ "<!-- Color Tab -->" | safeHTML }}
	<meta name="theme-color" content="blue" />
	
	<meta name="og:email" content="kukodein@gmail.com"/>
	<meta name="og:phone_number" content="6285329335354"/>

	{{ "<!--Favicon-->" | safeHTML }}
	<link rel="shortcut icon" href="{{ "images/favicon.png" | absURL }}" type="image/x-icon" />
	<link rel="icon" href="{{ "images/favicon.png" | absURL }}" type="image/x-icon" />

	{{ "<!-- Slick Carousel -->" | safeHTML }}
	<link rel="stylesheet" href="{{ "plugins/slick/slick.css" | absURL }}" />
	<link rel="stylesheet" href="{{ "plugins/slick/slick-theme.css" | absURL }}" />
	{{ "<!-- Font Awesome -->" | safeHTML }}
	<link rel="stylesheet" href="{{ "plugins/font-awesome/css/font-awesome.min.css" | absURL }}" />

	{{ "<!-- Magnific Popup -->" | safeHTML }}
	<link rel="stylesheet" href="{{"plugins/magnafic-popup/magnific-popup.css" | absURL }}" />

	{{ "<!-- Stylesheets -->" | safeHTML }}
	{{ $style := resources.Get "scss/style.scss" | resources.ToCSS | minify }}
	<link href="{{ $style.Permalink }}" rel="stylesheet" />
	<style type="text/css">#about{scroll-behavior:smooth;}</style>
	{{ with site.Params.googleAnalytics }}
	{{ "<!-- Google Analytics -->" | safeHTML }}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ . }}');
	</script>
	{{ end }}
	<style type="text/css">#kami-hadir-untuk-membantu-usaha-anda{font-size:3.70rem !important}</style>
	<script>
  	var urlweb = 'kukode.in';
  	var link_css = '{{ "css/style-widget.min.css" | absURL }}';
  	var link_json = '{{ "json/data-wa.json" | absURL }}';
  	var folder_img = '{{ "images/icon/" | absURL }}';
	</script>

	<script	src="{{ "js/cdn.script.min.js" | absURL }}"></script>

	<!-- <script> -->
	<script type="application/ld+json">
		{ "@context" : "https://schema.org",
			"@type" : "Organization",
			"url" : "http://www.your-company-site.com",
			"contactPoint" : [{ 
				"@type" : "ContactPoint",
				"telephone" : "6285329335354",
				"contactType" : "customer service"
			}],
			"aggregateRating": {
				"@type": "AggregateRating",
				"ratingValue": "4.8",
				"reviewCount": "7462",
				"bestRating": "5",
				"worstRating": "1"
			},
		}
	</script>
</head>