<head>
  <meta charset="utf-8" />

  {{ "<!-- mobile responsive meta -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  {{ "<!-- Primary Meta Tags -->" | safeHTML }}
  <title>{{ .Title }}</title>
  <meta name="title" content="{{ .Title }}">
  <meta name="description" content="Kukode.in adalah software house yang menerima jasa bikin website & maintenance website. Kami membuat web sederhana hingga kompleks serta menerima perawatan web.">
  <meta name="keywords" content="Jasa, Bikin, Website, Maintenance, Jasa Bikin Webisite, Jasa Buat Website, Buat Website, Jasa Maintenance Website, Jasa Perawatan Website, Jasa Develope Website, Jasa SEO Website, Jasa SEO">

  {{ "<!-- Open Graph / Facebook Meta Tags -->" | safeHTML }}
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://kukode.in">
  <meta property="og:title" content="Kukode.in - Jasa Bikin Website & Maintenance Website Profesional">
  <meta property="og:description" content="Kukode.in adalah software house yang menerima jasa bikin website & maintenance website. Kami membuat web sederhana hingga kompleks serta menerima perawatan web.">
  <meta property="og:image" content="https://kukode.in/images/favicon.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1024">
  <meta property="og:image:height" content="1024">

  {{ "<!-- Twitter Meta Tags -->" | safeHTML }}
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://kukode.in">
  <meta property="twitter:title" content="Kukode.in - Jasa Bikin Website & Maintenance Website Profesional">
  <meta property="twitter:description" content="Kukode.in adalah software house yang menerima jasa bikin website & maintenance website. Kami membuat web sederhana hingga kompleks serta menerima perawatan web.">
  <meta property="twitter:image" content="https://kukode.in/images/favicon.png">

  {{ "<!-- Color Tab -->" | safeHTML }}
  <meta name="theme-color" content="blue" />

  {{ "<!--Favicon-->" | safeHTML }}
  <link rel="shortcut icon" href="{{ "images/favicon.png" | absURL }}" type="image/x-icon" />
  <link rel="icon" href="{{ "images/favicon.png" | absURL }}" type="image/x-icon" />

  {{ "<!-- Slick Carousel -->" | safeHTML }}
  <link rel="stylesheet" href="{{ "plugins/slick/slick.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "plugins/slick/slick-theme.css" | absURL }}" />
  {{ "<!-- Font Awesome -->" | safeHTML }}
  <link rel="stylesheet" href="{{ "plugins/font-awesome/css/font-awesome.min.css" | absURL }}" />

  {{ "<!-- Magnific Popup -->" | safeHTML }}
  <link rel="stylesheet" href="{{"plugins/magnafic-popup/magnific-popup.css" | absURL }}" />

  {{ "<!-- Stylesheets -->" | safeHTML }}
  {{ $style := resources.Get "scss/style.scss" | resources.ToCSS | minify }}
  <link href="{{ $style.Permalink }}" rel="stylesheet" />
  {{ with site.Params.googleAnalytics }}
  {{ "<!-- Google Analytics -->" | safeHTML }}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ . }}');
  </script>
  {{ end }}
</head>