{{ with .Site.Data.blogSection }}
{{ if .enable }}
<section class="section blog-preview" id="pricing" style="margin-bottom:100px;">
	<div class="blog-preview__shape">
		<img src="images/blog/blog-shape.svg" alt="blog shape" />
	</div>
	<div class="container">
		<div class="row mb-5">
			<div class="col-lg-6">
				<div class="blog-preview__header">
					<span class="top-title pre-line">{{ .topTitle }}</span>
					{{ .title | markdownify }}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4">
				<div class="blog-preview__item">
					<div class="blog-preview__item-thumb">
						<img src="images/allpost/allPost-6.jpg" alt="post-image">
					</div>
					<div class="blog-preview__item-content bg-white" style="top:200px;bottom:unset!important;">
						<h5 class="mb-0">Benjamin Franklins thoughts.</h5>
						<p>
							<ul>
								<li>Some Addon</li>
								<li>Some Addon</li>
								<li>Some Addon</li>
								<li>Some Addon</li>
								<li>Some Addon</li>
							</ul>
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="blog-preview__item">
					<div class="blog-preview__item-thumb">
						<img src="images/allpost/allPost-6.jpg" alt="post-image">
					</div>
					<div class="blog-preview__item-content bg-white" style="top:200px;bottom:unset!important;">
						<h5 class="mb-0">Benjamin Franklins thoughts.</h5>
						<p>
							<ul>
								<li>Some Addon</li>
								<li>Some Addon</li>
								<li>Some Addon</li>
								<li>Some Addon</li>
								<li>Some Addon</li>
							</ul>
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="blog-preview__item">
					<div class="blog-preview__item-thumb">
						<img src="images/allpost/allPost-6.jpg" alt="post-image">
					</div>
					<div class="blog-preview__item-content bg-white" style="top:200px;bottom:unset!important;">
						<h5 class="mb-0">Benjamin Franklins thoughts.</h5>
						<p>
							<ul>
								<li>Some Addon</li>
								<li>Some Addon</li>
								<li>Some Addon</li>
								<li>Some Addon</li>
								<li>Some Addon</li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{ end }} {{ end }}